# =========================
# Environments
# =========================
.venv/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Generated data & results
# =========================
data/processed/
results/
models/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor
# =========================
.DS_Store
